RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Allow CORS for API
<FilesMatch "api_.*\.php$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch> 