{% layout 'theme' %}
<div id="charm-builder-app"></div>
<script src="{{ 'vue.min.js' | asset_url }}"></script>
<script src="{{ 'app.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'style.css' | asset_url }}"> 